h1 {
    color: rgb(73, 1, 139);
    font-size: 50px;
    font-weight: 700;
}

figcaption {
    color: rebeccapurple;
    font-size: 15px;
}

h2 {
    color: rgb(73, 1, 139);
    font-size: 35px;
}

#subjects {
    font-size: 20px;
}